<section class="container">
  <div class="color-label">Color:</div>
  <input type="color" [(ngModel)]="layer.color" class="color-input" disabled />

  <div class="size-container">
    <div class="size-control">
      <label>Width:&nbsp;</label>
      <input
        [(ngModel)]="layer.width"
        type="range"
        min="0"
        max="10"
        step=".1"
        value="5"
        disabled
      />
      <span>{{ layer.width }}</span>
    </div>
    <div class="size-control">
      <label>Height:</label>
      <input
        [(ngModel)]="layer.height"
        type="range"
        min="0"
        max="10"
        value="5"
        step=".1"
        disabled
      />
      <span>{{ layer.height }}</span>
    </div>
  </div>

  <button (click)="delete.emit()" class="delete-btn">Delete</button>
</section>
