<div class="builder-container">
  <div class="builder-panel">
    <h3>Add A Layer</h3>
    <app-layer-add (addLayer)="addLayer($event)"></app-layer-add>

    <div *ngFor="let layer of layers; let i = index" class="layer-controls">
      <app-layer-builder
        [layer]="layer"
        (delete)="deleteLayer(i)"
        (update)="updateLayer(i, $event)"
      >
      </app-layer-builder>
    </div>
  </div>

  <div class="cake-preview">
    <app-cake [layers]="layers"></app-cake>
  </div>
</div>
