.cake-container {  /* cake display area */
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 20px;
  background-color: #00b7ff;
}

.cake-display {
  padding: 10px;
  margin: auto;
  border-radius: 50%;
}

.cake-layer {
  padding: 5px;
  color: white;
  text-align: center;
  margin-top: 2px;
  height: 20px;
}
