div {
    margin-top: 5px;
}

div .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

label {
    font-weight: bold;
    margin-right: 0px;
    font-weight: bold;
    flex-shrink: 0;
}

span {
    margin-right: 0px;
    width: 40px;
    text-align: center;
}

input[type="color"] {
    flex-shrink: 0;
    margin-left: 10px;
    width: 75%;
}

input[type="range"] {
    flex-grow: 1;
    margin-right: 5px;
}

button {
    margin-right: 5px;
    margin-top: 10px;
    display: inline-block;
}