div {
    margin-top: 5px;
}

div .form-group {
    display: flex;
    align-items: center;
}

label {
    font-weight: bold;
    flex-shrink: 0;
    /* Prevent shrinking of the label */
}

span {
    width: 40px;
    /* Adjust width as needed */
    text-align: center;
}

input[type="color"] {
    flex-shrink: 0;
    width: 83%;
}

input[type="range"] {
    flex-grow: 1;
}

div .container {
    width: 100%;
}


button {
    margin-right: 5px;
    margin-top: 5px;
    display: inline-block;
}