.container {
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
    width: 260px; 
    margin-bottom: 10px;
  }
  
  .addLayerBtn {
    display: block;
    margin: 0 auto;
    width: 120px;
    padding: 6px;
    font-size: 14px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  
  label {
    font-weight: bold;
    flex-shrink: 0;
    width: 60px; 
  }
  
  
.colorDisplay {
    flex-shrink: 0;
    width: 50px;
    margin-left: 5px;
    height: 25px;
  }
  
  input[type="range"] {
    flex-grow: 1;
    margin: 0 5px;
  }
  
  span {
    width: 30px;
    text-align: right;
    display: inline-block;
  }
  
  button {
    font-size: 12px;
    padding: 4px 8px;
    height: auto;
    width: auto;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px; 
  }
  
  button + button {
    margin-left: 6px;
  }
  