<!-- <button (click)="toggleForm()">Add A Layer</button>
<div *ngIf="showForm">
  <input [(ngModel)]="newLayer.color" type="color" />
  <input [(ngModel)]="newLayer.width" type="range" min="1" max="10" />
  <input
    [(ngModel)]="newLayer.height"
    type="range"
    min="0.5"
    max="10"
    step="0.5"
  />
  <button (click)="submitLayer()">Add</button>
</div> -->

<!-- <div class="layer-add">
  <button (click)="showForm = !showForm">Add Layer</button>
  <app-layer-form></app-layer-form>
</div> -->

<button (click)="toggleForm()">Add Layer</button>

<div *ngIf="showForm">
  <!-- <input [(ngModel)]="newLayer.color" type="color" />
  <input [(ngModel)]="newLayer.width" type="range" min="1" max="10" />
  <input
    [(ngModel)]="newLayer.height"
    type="range"
    min="0.5"
    max="10"
    step="0.5"
  />
  <button (click)="submitLayer()">Add</button> -->
  <p>text</p>
</div>
